.q2{
    background-color: lightcyan;
}
.q2 h2{
    text-decoration: line-through;
}

.q2 h3{
    text-decoration: underline;
}

.q3{
    background-color: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}
